<head>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="field">
    <!-- Floor -->
    <thing v-bind:id="'floor'" v-bind:x="10" v-bind:y="-1" 
    v-bind:w="1300" v-bind:h="10" 
    v-bind:rgba="{r: 179, g: 255, b: 102, a: 1}"></thing>
    <!-- Left side wall -->
    <thing v-bind:id="'leftWall'" v-bind:x="1" v-bind:y="10" 
    v-bind:w="10" v-bind:h="660" 
    v-bind:rgba="{r: 179, g: 255, b: 102, a: 1}"></thing>
    <!-- Right side wall -->
    <thing v-bind:id="'rightWall'" v-bind:x="1310" v-bind:y="10" 
    v-bind:w="10" v-bind:h="660" 
    v-bind:rgba="{r: 179, g: 255, b: 102, a: 1}"></thing>
    <!-- Ceiling -->
    <thing v-bind:id="'ceiling'" v-bind:x="10" v-bind:y="660" 
    v-bind:w="1300" v-bind:h="10" 
    v-bind:rgba="{r: 179, g: 255, b: 102, a: 1}"></thing>

    <!-- Other drone -->
    <thing v-for="info in infos" v-bind:id="info.id" v-bind:key="info.id" v-bind:x="info.x" v-bind:y="info.y" 
    v-bind:w="info.width" v-bind:h="info.height" 
    v-bind:rgba="{r: 79, g: 255, b: 102, a: 1}"></thing>
</div>
<div id="chat">
    <chat v-for="message in messages" v-bind:key="message.number" v-bind:message="message"></chat>
    <chat-input v-bind:id="inputId" v-if="isVisible"></chat-input>
</div>
<div id="drone">
    <drone v-bind:object="this"></drone>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/common.js"></script>
<script src="/js/drone.js"></script>
<script src="/js/chat.js"></script>
</body>